        .container {
            display: flex;
            justify-content: space-evenly;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            width: 1400px;
        }


        body {
            background-color: black;
            color: white;
            height: 1000px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .logo {
            font-size: 30px;
            display: flex;
            margin-left: 50px;
        }

        .Goose {
            font-size: 30px;
            color: pink;
        }

        .navigatie {
            display: flex;
            gap: 25px;
        }

        .login {
            background-color: rgb(41, 41, 57);
            padding: 12px;
            border-radius: 10px;
            font-size: 13px;
            height: 17px;

        }

        .tekst {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            gap: 40px;
        }

        .tekst1 {
            width: 400px;
            font-size: 50px;
            margin-top: 50px;
        }

        .tekst2 {
            width: 350px;
            font-size: 16px;
        }

        .get-started {
            background-color: rgb(203, 151, 234);
            padding: 13px;
            border-radius: 10px;
            width: 110px;
            display: flex;
            justify-content: center;
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .pijl-container {
            height: 200px;
            width: 1500px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .pijltje {

            justify-content: baseline;
            height: 20px;
            width: 15px;
        }

        .ster-container {
            height: 100px;
            width: 1350px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 90px;
            margin-top: 40px;
        }

        .ster {
            justify-content: flex-start;
            display: flex;
            height: 70px;
        }

        .tekst3 {
            font-size: 35px;    
        }


        .tag {
            background-color: rgb(41, 41, 57);
            padding: 15px;
            border-radius: 24px;
        }

        .tag-container {
            display: flex;
            gap: 12px;
            justify-content: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 20px;
        }

        .tag-container1 {
            display: flex;
            justify-content: center;
            gap: 12px;
            margin-top: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pink {
            color: pink;
        }

        .yellow {
            color: rgb(255, 230, 68);
        }

        .purple {
            color: rgb(152, 76, 223);
        }

        .blue {
            color: rgb(62, 197, 238);
        }

        .blue1 {
            color: rgb(21, 167, 220);
        }

        .salmon {
            color: salmon;
        }

        .gray {
            color: gray;
        }

        .image {
            display: flex;
            justify-content: center;
            height: 300px;
            margin-top: 30px;

        }

        .tag-container2 {
            display: flex;
            justify-content: center;
            gap: 12px;
            font-size: 15px;
            margin-bottom: 20px;
        }

        .pink1 {
            justify-content: center;
            background-color: rgb(255, 163, 178);
            color: black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: flex;
            width: 250px;

        }

        .star {
            display: flex;
            justify-content: center;
            margin-left: 600px;
            width: 1100px;
            height: 40px;
            margin-top: 100px;
        }

        .blok-tekst {
            font-size: 35px;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            gap: 12px;
            margin-top: 100px;
        }

        .text {
            color: rgb(72, 70, 70);
        }

        .white {
            color: white;
        }

        .pink {
            color: pink;
        }

        .works-with {
            display: flex;
            justify-content: center;
            gap: 150px;
            font-size: 35px;
            margin-top: 300px;
            width: 1500px;


        }

        .star1 {
            width: 50px;

        }

        .star2 {
            width: 40px;
        }

        .container1 {
            width: 1500px;
        }



        .help {
            margin-top: 200px;
        }

        .tex {
            display: flex;
            justify-content: center;
            font-size: 35px;
        }

        .people {
            display: flex;
            justify-content: center;
            gap: 20px;
            height: 125px;
            margin-top: 60px;
        }

        .sterren {
            font-size: 25px;
            margin-top: 50px;
        }

        .deel1 {
            display: flex;
            justify-content: center;
            gap: 30px;
            align-items: baseline;
        }

        .deel2 {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 13px;
            align-items: baseline;
        }

        .deel3 {
            display: flex;
            justify-content: center;
            gap: 40px;
            margin-top: 13px;
            align-items: baseline;
        }

        .deel4 {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 13px;
            align-items: baseline;
        }

        .sterr {
            width: 25px;
        }

        .cubes {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 40px;

        }

        .cubee {
            padding: 10px;
            border-radius: 30px;
            height: 100px;
            background-color: rgb(25, 26, 37);
            border: 2px solid rgb(51, 51, 60);
            width: 100px;
        }

        .logoos {
            height: 100px
        }

        .texx {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }



        .background {
            display: flex;
            justify-content: center;
            width: 900px;
            background-color: rgb(32, 34, 47);
            height: 250px;
            padding: 20px;
            border-radius: 20px;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgb(77, 82, 98);
        }

        .digest-container {
            margin-top: 130px;
            justify-content: center;
            display: flex;

        }

        .digest {
            font-size: 40px;
            margin-bottom: 30px;

        }

        .latest {
            color: rgb(77, 83, 101);
            margin-bottom: 50px;
            font-size: 30px;
        }

        .email {
            background-color: rgb(30, 29, 39);
            padding: 13px;
            border-radius: 10px;
            width: 400px;
            font-size: 15px;
            color: rgb(73, 78, 95);
            border: 1px solid rgb(99, 105, 125);

        }

        .last {
            justify-content: center;
            display: flex;
            gap: 20px;
        }

        .subscribe {
            background-color: rgb(203, 151, 234);
            padding: 13px;
            border-radius: 10px;
            width: 100px;
            color: black;
            font-size: 15px;
            display: flex;
            justify-content: center;

        }

        .top {
            display: flex;
            justify-content: center;
            margin-top: 150px;
            gap: 630px;
            align-items: baseline;
            margin-left: 15px;

        }

        .press {
            font-size: 40px;
        }

        .steer {
            padding-left: 40px;
            width: 50px;

        }

        .see {
            font-size: 17px;
            color: rgb(111, 118, 140);
        }

        .blokjes {

            display: flex;
            justify-content: center;
            gap: 25px;
            margin-top: 30px;
            color: black;
            margin-left: 30px;

        }

        .blok {
            padding: 13px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 270px;



        }

        .blauw {
            background-color: rgb(92, 205, 243);

        }

        .paars {
            background-color: rgb(223, 173, 236);
        }

        .geel {
            background-color: rgb(230, 230, 105);
        }

        .boven {
            font-size: 20px;
            width: 220px;
        }

        .beneden {
            font-size: 15px;
            width: 210px;
            color: rgb(76, 70, 70);
            margin-right: 10px;
        }

        .logos {
            width: 250px;


        }

        .read {
            font-size: 15px;

            align-self: flex-start;
            margin-left: 15px;

        }


        .topp {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 30px;
            margin-top: 50px;

        }

        .pod {
            margin-right: 680px;
            font-size: 40px;
            margin-top: 100px;
        }

        .seee {
            margin-right: 60px;
            font-size: 17px;
            color: rgb(111, 118, 140);
        }

        .sterrr {
            width: 50px;
            padding-bottom: 35px;
        }

        .cub {
            display: flex;
            justify-content: center;
            gap: 20px;
            height: 250px;
            margin-top: 40px;

        }

        .cube {
            padding: 13px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgb(32, 34, 47);
            border: 2px solid rgb(64, 64, 75);

        }

        .dik {
            font-size: 20px;
            width: 250px;
            margin-top: 20px;
        }

        .dun {
            font-size: 15px;
            width: 170px;
            margin-top: 15px;
            margin-right: 90px;
            padding-left: 10px;
            color: rgb(151, 151, 164);
        }

        .foto {
            width: 30px;
            align-self: flex-start;
            margin-left: 10px;
        }

        .listen {
            font-size: 15px;
            padding-top: 40px;
            align-self: flex-start;
            margin-left: 10px;
        }

        .stars {
            display: flex;
            justify-content: center;
            padding-top: 50px;
            height: 60px;
        }

        .end {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-size: 40px;
            padding-top: 70px;
        }

        .chat {
            color: gray;
            font-size: 35px;
        }

        .bottom {
            display: flex;
            margin-top: 10px;
            gap: 20px;
        }

        .telegram {
            background-color: rgb(232, 183, 23);
            padding: 13px;
            border-radius: 10px;
            width: 170px;
            font-size: 17px;
            display: flex;
            justify-content: center;
            color: black;
            align-items: center;
        }

        .emaill {
            background-color: rgb(199, 172, 215);
            padding: 13px;
            border-radius: 10px;
            width: 170px;
            font-size: 17px;
            display: flex;
            justify-content: center;
            color: black;
            align-items: center;
        }

        .tel {
            width: 40px;
            margin-right: 10px;
        }

        .super {
            font-size: 13px;
            font-family: fantasy;
            color: rgb(55, 50, 50);
            padding-top: 5px;
        }


        .einde {
            background-color: rgb(25, 24, 29);
            display: flex;
            justify-content: center;
            gap: 40px;
            font-size: 17px;
            height: 120px;
            align-items: center;
            padding-left: 300px;
            margin-top: 200px;

        }

        .yelw {
            color: rgb(232, 183, 23);
        }

        .x {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            display: inline-block;
            background-color: rgb(74, 102, 100);
            align-items: center;
            margin-top: 10px;
        }

        .light {
            background-color: rgb(78, 77, 100);
        }

        .red {
            background-color: rgb(91, 77, 77);
        }

        .dark {
            background-color: rgb(84, 79, 102);
        }


        .raa {
            width: 25px;
            padding-left: 5px;
            padding-top: 5px;
            margin-bottom: 50px;
        }

        .logoo {
            margin-left: 70px;
            gap: 15px;
            display: flex;
        }

        .heroo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }

        .hero {
            justify-content: center;
            display: flex;
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 40px;
        }

        .roze {
            background-color: rgb(255, 177, 199);
            padding: 12px;
            border-radius: 15px;
            width: 200px;
            color: black;

        }

        .mensen {
            width: 100px;
            margin-left: 50px;
            margin-bottom: 10px;
        }


        .job {
            font-size: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .contact {
            font-size: 12px;
            margin-left: 135px;
        }

        .heroes {
            margin-bottom: 200px;
        }

        .idea {
            font-size: 40px;
        }

        .achtergrond {
            display: flex;
            justify-content: center;
            width: 600px;
            background-color: rgb(32, 34, 47);
            padding: 20px;
            border-radius: 20px;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgb(77, 82, 98);
            margin-top: 100px;
        }

        .post-container {
            display: flex;
            justify-content: center;
            width: 1500px;
            font-size: 40px;
        }

        .row {
            flex-direction: column;
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 30px;
            margin-left: 50px;
        }

        .colors-container {
            gap: 20px;
        }

        .colors {
            background-color: rgb(30, 29, 39);
            padding: 13px;
            border-radius: 10px;
            width: 370px;
            font-size: 15px;
            color: rgb(73, 78, 95);
            border: 1px solid rgb(99, 105, 125);
            margin-left: 50px;
            height: 120px;
        }

        .kleur {
            margin-top: 15px;
        }

        .send {
            background-color: rgb(203, 151, 234);
            padding: 13px;
            border-radius: 10px;
            width: 100px;
            color: black;
            font-size: 15px;
            display: flex;
            justify-content: center;
            margin-left: 400px;
        }

        .pijl {
            margin-left: 220px;
            width: 9px;
        }